<%# views/map/new.ejs %>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
<h1>Add a location</a></h1>

<h1>this is new page </h1>


<form id ="locationInfo" method='POST' action='/map'>
<span> name: </span><input name = 'name' required><br>
<span> address: <input name = 'address' required></span><br>
<select id='venue_id' name='venue_id'>
  <% venue.forEach(venue => { %>
    <option value="<%= venue.venue_id %>">
      <%= `${venue.venue_type}` %>
    </option>
  <% }) %>
</select>
<input id = 'lat' name= 'lat' required>
<input id = 'lng' name = 'lng' required>
<input type='submit' value='Submit!'/>
</form>



<script>
  // document.getElementById('address').value = <%= address.toString() %>;
  document.getElementById('lat').value = <%= latval %>;
  document.getElementById('lng').value = <%= lngval %>;
  // console.log(typeof(<%= address %>))
</script>

  </body>
</html>

