<%# views/map/show.ejs %>
<% include ../partials/boilerplate %>
<
<h1>Location Details</h1>
<h1><%= locations.name %></h1>
<p><%= locations.address %></p>
<p>Venue type: <%= `${venue.venue_type}` %><p>
<a href="/map">Back to map</a>
<a href="<%= `/map/${locations.id}/edit` %>">
  Edit
</a>

<form action="<%= `/map/${locations.id}?_method=DELETE` %>" method="POST">
  <input type="submit" value="Delete" />
</form>
